div.dropper {
    margin: auto;
    width: th.width;
    height: th.height;
    background-color: #069;
    border: 1px solid #111;
}


div.drop_hover {
    -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.8) inset;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8) inset;
    background-color: #239;
}

.draggable {
    display: inline-block;
    font-size: 1em;
}