div.dropper {
    margin: auto;
    height: 50px;
    background-color: active;
}


div.drop_hover {
    background-color: #C3D9E0;
}

.draggable {
    border-radius: 10px;
    background-color: #EFFBFF;
    display: inline-block;
    font-size: 1em;
}

div #taskDrag:hover{
    border-radius: 10px;
    background-color: #D5EDEE;
}

div #taskDrag img:hover{
    background-color: #FF8385;
    border-radius: 10px;
}

