div.dropper {
    margin: auto;
    height: 50px;
    background-color: active;
}


div.drop_hover {
    background-color: #C3D9E0;
}

.draggable {
    display: inline-block;
    font-size: 1em;
}

div #taskDrag:hover{
    border-radius: 10px;
    background-color: #98DB9C;
}

div #taskDrag img:hover{
    background-color: #E1E6FA;
    border-radius: 10px;
}
